@import "../sass/_variables.scss";
@import "../../node_modules/bootstrap/scss/mixins/breakpoints";



.globe-row{
    position: relative;
    background-image: url('./star-field.png');
    background-repeat: no-repeat;
    z-index: 0;
}