.services-image-left{
    /* float: left; */
    margin-bottom: 10px;
}
.services-image-right{
    /* float: right; */
    margin-bottom: 10px;
}

.rowStyle{
    margin-bottom:0px;
}
.services-text{

}