@import "../sass/_variables.scss";
@import "../../node_modules/bootstrap/scss/mixins/breakpoints";

// @import "../../node_modules/bootstrap/scss/card";

$card-width: 250px;
$card-height: 220px;



.globeContainer{
    position:relative;
    top: -225px;
    left: -200px;
    // height:100px;
    padding:0px;
    z-index:-1;
}

#vid-overlay.card{
    // margin-left: 20%;
    // top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: $card-width;
    height: $card-height;
    
    background-color: rgba(255, 255, 255, 0);
    // overflow: hidden;
    padding: 20px;
    left:50%;
    transform:translateX(-50%);
}

#vid-overlay-text.card-body{
    color: white;
    text-shadow: 1px 1px black;
    padding-top: 10px;
    z-index: 1;
    padding-left:0px;
    padding-right:0px;
}

.card-body .vid-overlay-btn{
    border-left: $button-border-color;
    background-color: $button-color;
}

#card-btn{
    margin-top: 20px;
    text-shadow: none;
}

#vid-overlay-bg{
    position: absolute;
    top:0px;
    left:0px;
    bottom: 0px;
    right: 0px;
    border-radius: 5px;
    border-top: 1px solid rgba(255, 255, 255, 0.65);
    border-left: 1px solid rgba(255, 255, 255, 0.65);
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: inset 0px 0px 10px grey;
    backdrop-filter: blur(4px);
}

.star-bg{
    position: absolute;
    height: 100%;
    left:-24px;
    background: url('./star-field.png');
    z-index:-2;
    overflow: hidden;
    box-sizing: content-box;
    padding: 0px;
  }



@include media-breakpoint-up(xs) {
    .globeContainer{
        // margin-left: -160px;
        left: -155px;
    }

    #vid-overlay.card {
        margin-top: 30px;
        margin-bottom: 30px;
        width: 250px;
        height: 200px;
    }
    
}
@include media-breakpoint-up(sm) {
    .globeContainer{
        left: -155px;
    }
    
}
@include media-breakpoint-up(md) {
    .globeContainer{
        top: -260px;
        left: 260px;
    }

    #vid-overlay.card {
        width: 380px;
        height: 170px;
        margin-top: 50px;
        margin-bottom: 50px;
        transform: translateX(-100%);
    }
    
}
@include media-breakpoint-up(lg) {
    .globeContainer{
        top: -285px;
        left: 360px;
    }

    #vid-overlay.card {
        margin-top: 70px;
        margin-bottom: 70px;
        width: 380px;
        height: 180px;
    }
    
}
@include media-breakpoint-up(xl) {
    .globeContainer{
        left:220px;
    }
    
}
@include media-breakpoint-up(xxl) {
    .globeContainer{
        left: 30%;
    }
    
    #vid-overlay.card {
        width: 400px;
        height: 180px;
    }
}





