@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');


#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  color: #6e6e6e;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.heading {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: normal;
  color: #9e9800;
  display:flex;
  align-items: center;
  margin-bottom: 15px;
}
.heading::before,
.heading::after {
  display: block;
  content: "";
  border-bottom: 2px solid #b7b242;
  flex: 1;
}
.heading::before{
  margin-right: 1rem;
}
.heading::after{
  margin-left: 1rem;
}

.back-video{
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  top: 10%;
  z-index: -1;
}

.bgimage {
  width:100%;
  height:500px;
  /* background: url('https://images.unsplash.com/photo-1438109491414-7198515b166b?q=80&fm=jpg&s=cbdabf7a79c087a0b060670a6d79726c'); */
  /* background: url('./video.mp4'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}
.bgimage h5 {
  color:white;
  text-shadow:2px 2px #333;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@media (min-aspect-ratio: 16/9){
  .back-video{
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9){
  .back-video{
    width: 100%;
    height: auto;
  }
}


@include media-breakpoint-up(lg) {
  .planet-container {
      display: none;
  }
}
